.container {
    display: flex;
    overflow: hidden;
}

.container-canvas {
    padding: 40px;
    background-color: white;
}

.canvas {
    background-color: white;
    border: 1px solid black;
    padding: 20px; 
    display: inline-block;
    z-index: 1px; 
    overflow: hidden;
}

.bar {
    border: 1px solid black;
    width: 100px;
    height: 300px;
    display: inline-block;
    margin-top: 20px;
}

.color {
    display: flex;
}

.black {
    background-color: black;
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.blue {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.green {
    background-color: green;
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.yellow {
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.pink {
    background-color: pink;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid black;
}

.shape {
    display: flex;
}

.square {
    width: 33px;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 8px; 
}

.white {
    width: 33px;
    height: 40px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 8px;
}

.thin {
    width: 34px;
    height: 40px;
    border-bottom: 1px solid black;
    font-size: 8px;
}

.circle {
    width: 60px; 
    height: 40px; 
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.clear {
    width: 60px; 
    height: 40px; 
    border-bottom: 1px solid black;
}